@import './variables';

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: $global_primary;
  color: $global_text_color;
  font-family: brandon, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #00b2e1;
}

#root>:nth-child(2) {
  margin-top: 10rem;
  padding: 0 1.5rem;
}

*::before,
*::after {
  content: '';
  bottom: 0;
  width: 0px;
  position: absolute;
  border-radius: 999px;
  height: 3px;
  background-color: #00b2e1;

  &::after {
    right: 50%;
  }

  &::before {
    left: 50%;
  }
}